extends ./layout/layout

block title
  title Edit step 1 task

block content
  .container
    form.firststep-task-edit-form.task-edit-form(action="/saveFirstStepTask/#{task.id ? task.id : ''}", method="POST")
      .head-controls
        h1= task.name || "New Task"
        .button-set
          button.btn.btn-dark-green(type="submit") Save
      .common-info
        .textfield
          .label
            label(for="task-name") Name of task
          input#task-name(type="text", name="name", value=task.name ? task.name : '', required)
        .textfield
          .label
            label(for="display-number") Display number
          input#display-number(type="text", name="displayNumber", value=task.displayNumber ? task.displayNumber : '', required)
        .textfield
          .label
            label(for="order") Order of task
          input#order(type="text", name="weight", value=task.weight ? task.weight : '', required)
        .textfield
          .label
            label(for="task-to-do") To do
          textarea#task-to-do(name="theTask", required)= task.toDo ? task.toDo : ''
    .code-editor
      .bar
        .editors
          .editor#htmlEditor #{task.htmlCode}
          .horizontal-divider
          .editor#cssEditor #{task.cssCode}
        .vertical-divider
        .results
          iframe(
            frameborder="0",
            sandbox="allow-forms allow-same-origin allow-scripts"
          )

block scripts
  script(src='/scripts/adminEditor.js')
