extends ./layout/layout

block title
  title Quiz tasks

block content
  a.mui-btn.mui-btn--primary.add-new-task(href="/addQuizStepTask") Add
  table.mui-table.mui-table--bordered.tasks-list
    thead
      tr
        th Id
        th Name
        th(data-col=2) Display number
          button.js-sort Sort
        th(data-col=3) Weight
          button.js-sort Sort
        th Answare
        th Deprecated selectors
        th Active
        th
    tbody
      each task in tasks
        tr(data-id=task.id)
          td= task.id
          td= task.name
          td
            span.sort-item= task.displayNumber
          td
            span.sort-item= task.weight
          td= task.answares
          td= task.deprecatedSelectors
          td
            input.active-task(type="checkbox", name="active", value=task.active, autocomplete="off", checked=task.active ? true : false)
          td
            a.edit-btn(href="/editQuizStepTask/#{task.id}")
              i.fa.fa-pencil-square-o
            button.remove-btn.remove-task
              i.fa.fa-trash

  #removeConfirmationDialog
    include ./includes/removeConfirmationPopup.jade
