extends ./layout/layout

block content
  form.quiz-task-edit-form(action="/saveQuizStepTask/#{task.id ? task.id : ''}")
    .actions-section
      button.mui-btn.mui-btn--primary(type="submit") Save
    .task-info.clearfix
      .common-info
        .mui-textfield
          input(type="text", name="name", value=task.name ? task.name : '', required)
          label Name of task
        .mui-textfield
          input(type="text", name="displayNumber", value=task.displayNumber ? task.displayNumber : '', required)
          label Display number
        .mui-textfield
          input(type="text", name="weight", value=task.weight ? task.weight : '', required)
          label Weight of task
        .mui-textfield
          input(type="text", name="answares", value=task.answares ? task.answares : '', required)
          label Answare row
        .mui-textfield
          input(type="text", name="deprecatedSelectors", value=task.deprecatedSelectors ? task.deprecatedSelectors : '')
          label Deprecated selectors
      .code-editor
        .editor#htmlEditor= task.htmlCode
block scripts
  script(src='/scripts/adminEditor.js')
