extends ./layout/layout

block title
  title Results markup

block content
  .container
    .user-task-info(data-userid=userInfo.id, data-taskid=task.id)
      .name-of-user
        |User:
        span= userInfo.firstName + ' ' + userInfo.lastName
      .task-name
        |Task:
        span= task.name
      .time-spent-markup
        |Time spent:
        span= result.time
      .edit-mark
        label(for="mark") Mark:
        input#mark(type="text", value=mark)
    .bar.clearfix
      .editors
        .editor#htmlEditor= result.htmlCode
        .horizontal-divider
        .editor#cssEditor= result.cssCode
      .vertical-divider
      .results
        iframe(
          frameborder="0",
          sandbox="allow-forms allow-same-origin allow-scripts"
          src="#{result.path}"
        )
block scripts
  script(src='/scripts/adminEditor.js')
