extends ./layout/layout

block title
  title Total results

block content
  .container
    h1 Marks
    .scrollable-table
      table.total-results
        thead
          tr
            th(rowspan=2) Participant
            th(colspan=tasks.step1.length + 1, style="width: #{150 * (tasks.step1.length + 1)}px;") Step 1
            th(colspan=tasks.step2.length + 1, style="width: #{150 * (tasks.step2.length + 1)}px;") Step 2
            th(rowspan=2, data-col=tasks.step1.length + tasks.step2.length + 3) Total
          tr
            -var colNumber = 0
            each task in tasks.step1
              th.sort(data-col= ++colNumber) #{task.name}
            th.sort(data-col= ++colNumber) Total
            each task in tasks.step2
              th.sort(data-col= ++colNumber) #{task.name}
            th.sort(data-col= ++colNumber) Total
        tbody
          each user in users
            tr(data-id=user.id)
              td #{user.firstName} #{user.lastName}
              -var totalMarkStep1 = 0
              each task in tasks.step1
                if user.tasksMarks[task.id]
                  -totalMarkStep1 += user.tasksMarks[task.id]
                  td.step1-task.js-mark(data-taskid=task.id)
                    span.sort-item= user.tasksMarks[task.id]
                else
                  td.step1-task.js-mark(data-taskid=task.id)
                    span.sort-item 0
              td.step1-sum
                span.sort-item= totalMarkStep1
              -var totalMarkStep2 = 0
              each task in tasks.step2
                if user.tasksMarks[task.id]
                  -totalMarkStep2 += user.tasksMarks[task.id]
                  td.step2-task.js-mark(data-taskid=task.id)
                    span.sort-item= user.tasksMarks[task.id]
                else
                  td.step2-task.js-mark(data-taskid=task.id)
                    span.sort-item 0
              td.step2-sum
                span.sort-item= totalMarkStep2
              td.total-mark
               span.sort-item= totalMarkStep1 + totalMarkStep2
