extends ./layout/layout

block title
  title Total results

block content
  .container
    h1 Marks
    .scrollable-table
      div.scrollable
        table.total-results
          thead
            tr
              th Participant
              - var tasksCount = 0
              each step in steps
                - tasksCount += step.tasks.length
                th(colspan=step.tasks.length + 1, style="width: #{150 * (step.tasks.length + 1)}px;")= step.name
              th.sort(rowspan=2, data-col=tasksCount + steps.length + 1) Total
            tr
              -var colNumber = 0
              th
              each step in steps
                each task in step.tasks
                  th.sort(data-col= ++colNumber) #{task.name}
                th.sort(data-col= ++colNumber) Total    
          tbody
            each user in users
              tr(data-id=user.id)
                td #{user.firstName} #{user.lastName}
                - var totalMark = 0
                each step in steps
                  - var stepTotalMark = 0
                  each task in step.tasks
                    if user.tasksMarks[task.id]
                      -stepTotalMark += user.tasksMarks[task.id]
                      td.task.js-mark(data-taskid=task.id, data-stepid=step.id)
                        span.sort-item= user.tasksMarks[task.id]
                    else
                      td.task.js-mark(data-taskid=task.id, data-stepid=step.id)
                        span.sort-item 0
                  - totalMark += stepTotalMark
                  td.sum(data-stepid=step.id)
                    span.sort-item= stepTotalMark
                td.total-mark
                 span.sort-item= totalMark
