extends ./layout/layout

block content
  .scrollable-table
    table.mui-table.mui-table--bordered.total-results
      thead
        th Participant
        each task in tasks.step1
          th Step1.#{task.name}
        th Step1
        each task in tasks.step2
          th Step2.#{task.name}
        th Step2
        th Total
      tbody
        each user in users
          tr(data-id=user.id)
            td #{user.firstName} #{user.lastName}
            -var totalMarkStep1 = 0
            each task in tasks.step1
              if user.tasksMarks[task.id]
                -totalMarkStep1 += user.tasksMarks[task.id]
                td.step1-task.js-mark(data-taskid=task.id)
                  span= user.tasksMarks[task.id]
              else
                td.step1-task.js-mark(data-taskid=task.id)
                  span 0
            td.step1-sum= totalMarkStep1
            -var totalMarkStep2 = 0
            each task in tasks.step2
              if user.tasksMarks[task.id]
                -totalMarkStep2 += user.tasksMarks[task.id]
                td.step2-task.js-mark(data-taskid=task.id)
                  span= user.tasksMarks[task.id]
              else
                td.step2-task.js-mark(data-taskid=task.id)
                  span 0
            td.step2-sum= totalMarkStep2
            td.total-mark= totalMarkStep1 + totalMarkStep2
